/* Header */
header {
  background-color: black;
  box-shadow: 0 1px 3px 0 rgb(0 0 0/0.1), 0 1px 2px -1px rgb(0 0 0/0.1);
  padding: 10px;
  text-align: center;
  margin-bottom: 30px;
}

header h1 {
  font-size: 30px;
  font-weight: bold;
  color: #FFFFFF;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.logo {
  width: 100px;
  height: 100px;
}


/* Body */
.container {
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 24px;
  font-weight: bold;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
  grid-gap: 50px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  color: black;
  text-decoration: none;
  border-radius: 10px;
  width: 300px;
  height: 300px;
  margin: 0 auto;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}

.card:hover {
  transform: scale(1.02);
}

.img {
  border-radius: 10px;
}

h2 {
  font-size: 24px;
  margin-bottom: 5px;
}

span {
  font-size: 16px;
  margin-bottom: 10px;
}

.emailImg {
  width: 15px;
  background-color: #FFFFFF;
  margin-right: 5px;
}